* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --gray-100: #f8f8f8;
  --gray-200: #d7d7d7;
  --gray-300: #bbbbbb;
  --gray-900: #1a1d23;

  --pink-500: #ff57b2;
}

body {
  background: var(--gray-900);
  color: var(--gray-100);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
